.formulaire_login .login-links {display: block;float: left;text-align: left}
.login-links .login-messages {display: block;text-align: left}
.login-links .login-messages.on {background: #333;color:#fff;padding:3px 5px;font-weight: normal;}